.bg-change {
    background-image: url('../../images/fuji_login.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.btn-pill {
border-radius: 50px;
padding: 10px 20px;
background-color: black;
color: white;
border: none;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-pill:hover {
background-color: #0056b3;
}
