@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./images/Fuji_img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}